import pytest
from mathutils import Vector
from bpypolyskel import bpypolyskel


verts = ${verts}
unitVectors = ${unitVectors}
holesInfo = ${holesInfo}
firstVertIndex = ${firstVertIndex}
numPolygonVerts = ${numPolygonVerts}
faces = bpypolyskel.polygonize(verts, firstVertIndex, numPolygonVerts, holesInfo, 0.0, 0.5, None, unitVectors)
faces = None


@pytest.mark.timeout(10)
def test_polygonize():
    global faces
    faces = bpypolyskel.polygonize(verts, firstVertIndex, numPolygonVerts, holesInfo, 0.0, 0.5, None, unitVectors)


def test_numVertsInFace():
    for face in faces:
        assert len(face) >= 3


def test_duplication():
    for face in faces:
        assert len(face) == len(set(face))